name: Security Pipeline

permissions:
  contents: read

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  # ==========================
  # Build & smoke test job
  # ==========================
  build:
    runs-on: ubuntu-latest

    steps:
      # --------------------------
      # 1. Checkout repository
      # --------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # --------------------------
      # 2. Build Docker image
      # --------------------------
      - name: Build Docker image
        run: docker build -t myapp:latest .

      # --------------------------
      # 3. Run container (smoke test)
      # --------------------------
      - name: Run container
        run: docker run --rm myapp:latest


  # ==========================
  # Trivy filesystem scan job
  # ==========================
  trivy_fs:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # --------------------------
      # 1. Checkout repository
      # --------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # --------------------------
      # 2. Trivy FS scan (repo scan)
      # --------------------------
      - name: Trivy Filesystem Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          severity: CRITICAL,HIGH
          format: table


  # ==========================
  # Trivy image scan job
  # ==========================
  trivy_image:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # --------------------------
      # 1. Checkout repository
      # --------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # --------------------------
      # 2. Build Docker image
      # --------------------------
      - name: Build Docker image
        run: docker build -t myapp:latest .

      # --------------------------
      # 3. Trivy image scan
      # --------------------------
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: myapp:latest
          severity: CRITICAL,HIGH
          format: table


  # ==========================
  # Checkov IaC scan job
  # ==========================
  checkov:
    needs: build
    runs-on: ubuntu-latest

    steps:
      # --------------------------
      # 1. Checkout repository
      # --------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # --------------------------
      # 2. Checkov IaC scan
      # --------------------------
      - name: Checkov Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: .
          
  dependency_check:
    needs: build
    runs-on: ubuntu-latest

    steps:
    
      # --------------------------
      # 1. Get latest DC version
      # --------------------------

      - name: Get latest Dependency-Check ZIP URL
        id: dc_asset
        run: |
          url=$(curl -s https://api.github.com/repos/jeremylong/DependencyCheck/releases/latest \
          | jq -r '.assets[] | select(.name | endswith("release.zip")) | .browser_download_url')

          printf "url=%s\n" "$url" >> $GITHUB_OUTPUT


      # -------------------------------
      # 2. Download DC latest version
      # -------------------------------
      
      - name: Download Dependency-Check
        run: |
          curl -LO ${{ steps.dc_asset.outputs.url }}
          unzip dependency-check-*-release.zip
          mv dependency-check-* dependency-check
          
      # --------------------------
      # 3. Checkout repository
      # --------------------------
      - name: Checkout repo
        uses: actions/checkout@v4

      # --------------------------
      # 2. Run OWASP Dependency-Check
      # --------------------------
      - name: Run Dependency-Check
        run: |
          ./dependency-check/bin/dependency-check.sh \
            --project "myapp" \
            --scan "." \
            --out "dependency-check-report" \
            --format "HTML"

